@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

:root {
  --fixed: #D3D3D3; 
  --selected: #2d7ff9;
  --border: #525A66;
  --border-light: #989FA9;
  --primary-fill: #70cbce;
}

.axis path {
	stroke: var(--border-light);
}

.axis line {
	fill: none;
	stroke: var(--border-light);
}

.axis text {
	color: var(--border-light);
	font-family: 'Roboto';
	font-size: 12px;
}

.point-group.faded .point {
	opacity: 0.2;
}

.point {
/*	fill: var(--primary-fill);
*/	stroke: #fff;
	stroke-width: 0.5;
}

.point.faded {
	opacity: 0.3;
}

.line.faded {
	opacity: 0.2;
}

.hover-line {
	stroke: var(--border-light);
	stroke-dasharray: 3,3;
}